/* Basic styling*/
body {
    font-family: 'Arial', sans-serif;
    background-color: #ffecf0;
    text-align: center;
    margin: 0;
    padding: 0;
}

h1 {
    color: #ff66b2;
    font-size: 2.5em;
    margin: 20px 0;
}


.game-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

#card-grid {
    display: grid;
    grid-template-columns: repeat(5, 120px); /* Columns */
    grid-gap: 10px;
    margin: 0 auto;
}